*{
    margin:0;
    padding:0;
}
.nav_bar a img{
    border-radius:50%;
    width:75px;
    height: 75px;
    align-self: flex-end;
}
.header{
    min-height: 70vh;
    width:90%;
    margin:auto;
    background-size:cover;
    background-image:url(../Images/farmingpng.png);
}
.nav_bar{
    /* background: #f1f1f1; */
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items:center;
    width:90%;
}
.navlink ul li{
    list-style-type: none;
    position:relative;
    padding: 4px 12px;
    display:inline-block;
}
.navlink ul li a{
    color:rgba(39, 70, 41,0.9);
    text-decoration:none;
    font-size: 1.25em;
    font-weight: 900;
}
.navlink ul li a:hover{
    color:rgba(3, 124, 11, 0.9);
}
.txt{
    margin-top:70px;
    position:absolute;
    text-align: center;
    color:#000;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.txt h1{
    font-size:2.25em;
}
.txt p{
    font-size:1.25em;
    margin:10px 0 35px;
    font-weight: 800;
}
.btnstr{
    text-decoration: none;
    color:white;
    padding:1.5% 4%;
    position:relative;
    font-size: 1.25em;
    border-radius:20px;
    background-color:seagreen;
    border:2px solid rgb(241,185,80);
}
.btnstr:hover{
    background:springgreen;
    color:#000;
    transition:1s;
}
.rowftr{
    margin-top:5%;
    display: flex;
    justify-content: space-around;
    position:relative;
    background:rgba(0,0,0,0.7);
    width:100%;
    left:0;
    bottom:0;
    color:white;
    min-height: 7.5vh;
    align-items: center;
    font-size:1.25em;
}
.ftritm:hover{
    cursor:pointer;
    color:darkcyan;
}
.ftritm a{
    text-decoration:none;
    color:#fff;
}
.serv-header{
    font-size:1.75em;
    font-weight: 600;
}
.row{
    display:flex;
    margin-top:3%;
    justify-content: space-between;
}
.serv{
    width:90%;
    margin:auto;
    text-align:center;
    padding-top: 10px;
}
.servtype{
    flex-basis: 31%;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-color:#fff3f3;
}
.servtype:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.serv h3{
    text-align:center;
    font-weight: 600;
    margin:10px 0;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
@media(max-width:550px){
    .rowftr{
        flex-direction: column;
    }
}
@media(max-width:400px) {
    .navlink li{
       display: block; 
    }
    .navlink{
        position:absolute;
        width:100px;
        top:0;
        right:-100px;
        height:100vh;
        z-index:2;
        /* text-align:center; */
        transition:1.5s ease-in-out;
        background-color: darkcyan;
    }
    .nav_bar fa{
        display: block;
        color:#fff;
        margin:10px;
        font-size:1.25em;
        cursor:pointer;

    }
}