*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif
}
body{
    background-color: rgba(121, 250, 157, 1);
}
.header{
    margin:2% 0;
    text-align:center;
}
.form{
    width:80;
    margin:auto;
}
.login_container{
    position:relative;
    display:flex;
    justify-content: space-around;
}
.row{
    width:50%;
    margin-top:3%;
}
.col-img{
    background:url('../Images/signup.jpg');
    background-size:cover;
    background-repeat:none;
    min-height: 50vh;
    border-radius:5px;
    margin:0 4% 2%;
}
.col-img:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
    cursor:pointer;
}
.col-form{
    margin-left:20%;
    font-size: 1.25em;
    width:100%;
    font-weight: 600;
    margin-right:10px;
}
.col-form input{
    width:50%;
    border:1px solid #000;
    border-radius:20px;
    height: 20px;
    margin-top:4px;

}
.col-form p{
    font-weight: 400;
    margin-top:20px;
}
.col-form p a{
    text-decoration:none;
}
.col-form p a:hover{
    border:2px solid #eb9e34;
    background-color:transparent;
    color:#3477eb;
    border-radius:20px;
    padding:0 4px;
}
.col-form .submit{
    border:1px solid #353638;
    border-radius:20px;
    padding:4px 8px;
    background-color:#12a6e6;
    font-size:1.05em;
}
@media(max-width:700px){
    .login_container{
        flex-direction:column;
    }
}

