*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

body{
    overflow-x: hidden;
}

.nav_bar{
    width:100%;
    font-size:1.25em;
    font-weight: 600;
}

.header{
    min-height: 80vh;
    width:90%;
    margin:auto;
    background-image:linear-gradient(rgba(43, 65, 23, 0.2),rgba(133, 153, 133, 0.2)),url(../Images/farm.jpg);
    background-size:cover;
    /* background-color: #b7ce92e3; */
    background-position:center;
    background-position:relative;
    overflow:hidden; 
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-link ul li{
    list-style-type: none;
    position:relative;
    padding:8px 12px;
    display:inline-block;
}
.nav-link ul li a{
    color:#000;
    text-decoration:none;
    font-size:0.95em;
}
.nav-link ul li::after{
    content: "";
    width:0%;
    height:2px;
    margin:auto;
    display:block;
    transition:0.5s;
    background:rgb(111, 230, 21);
}
.nav-link ul li:hover::after{
    width:100%;
}
nav .fa{
    display:none;
}
li .fa{
    display: inline-block;
}
.fas{
    position:relative;
    display:inline-block;
}
li .dropdown{
    display: inline-block;
}
.dropctn{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: display 1s ease-in-out;
}
.dropctn a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropctn a:hover{
    background-color: rgb(111, 230, 21);
}
.dropdown:hover .dropctn{
    display:block;
}
.title{
    visibility: hidden;
    width:100px;
    background-color:#000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.fas:hover .title{
    visibility: visible;
    opacity: 1;
    transition:1s;
}
.fas .title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
  }
.traing{
    width:90%;
    background:#f1f1f1;
    text-align:center;
    padding-top:50px;
    margin:auto;
}
.training{
    display:flex;
    justify-content: space-between;
    margin-top:5%;
}
.traing_type{
    margin-bottom:5%;
    border-radius:10px;
    background:rgba(191, 241, 214, 0.9);
    padding:20px 12px;
    box-sizing: border-box;
    flex-basis: 31%;
    transition:0.5s;
}
.traing_type:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    cursor:pointer; 
}
.market{
    width:90%;
    margin:auto;
    margin-top:4%;
}
.row-header{
    text-align:center;
}
.marketrow{
    display: flex;
    justify-content: space-between;
}
.rowftr{
    margin-top:5%;
    display: flex;
    justify-content: space-around;
    position:relative;
    background:rgba(0,0,0,0.7);
    width:100%;
    left:0;
    bottom:0;
    color:white;
    min-height: 7.5vh;
    align-items: center;
    font-size:1.25em;
}
.ftritm:hover{
    cursor:pointer;
    color:darkcyan;
}
.ftritm a{
    text-decoration:none;
    color:#fff;
}

@media(max-width:700px){
    .nav-link ul li{
        display:block;
    }
    .nav-link{
        position:absolute;
        top:0;
        right:-200px;
        background:#4c7c50;
        /* overflow:hidden; */
        height:100vh;
        width:200px;
        text-align:left;
        z-index:1;
        transition:1s;
    }
    nav .fa{
        display:block;
        color:#000;
        margin:10px;
        font-size:1.25em;
        cursor:pointer;
    }
    .training{
        flex-direction: column;
    }
}
